  input{
    width: 100%;
    padding: 4px 100px;
    border-radius: 2px;
    border-color: green;
  
     
}
.search{
    border: 1px solid red; 
     margin-top: 30px;
   
  } 
 .btnSearch{
    background-color: rgb(16, 139, 16);
    color: white;
    padding: 4px 8px;
    border: none;
    
}
#logo {
    margin-left: 150px;
    font-size: 45px;
    color: rgb(184, 25, 25);
}

#basket{
    margin-top: 20px;
    margin-left: 5px;
}

.form{
    margin-right: 100px;
    width: 400px;
}


 
