<!-- <p>cart works!</p> -->

<div class="container mt-5">
    <h2 class = "mb-10" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Cart Items</h2><hr>
<!-- cartEmpty -->
<ng-container *ngIf="isCartEmpty; else cartNotEmpty">
<div style="width:50% ; margin: auto; height: auto;" class = "emptyCart"><img src="https://img.pikbest.com/png-images/20191028/push-shopping-cart-to-woman-gif_2515298.png!sw800" width="50%">
    <h5 style="text-align: center;">I See Nothing in Your <span style = "color: #2e79a4;">Shopping Cart</span>  <br>
        <span style="color: #6eb65b; font-weight: bold;">No problem</span> Let's Go Fill it Back</h5>
    <button class = "shopping" routerLink="/moreproduct">Continue Shopping</button>
</div>
  </ng-container>

  <ng-template #cartNotEmpty>
    <div *ngFor = "let i of cartItems">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{i.image}}" alt="">
            </div>

           <div class="col sm-5">
            <h6>Description</h6><hr>
            <h5>{{i.name}}</h5>
            <p>Price : {{i.price | currency:'INR'}}</p>
            
        </div>

            <div  class="col sm-2">
                <h6>Qunatity</h6><hr>
                <button (click) = "removeFromCart(i)" style="padding: 5px 10px; background-color: rgb(76, 127, 199); border: none; color: white; font-weight: bold;">-</button>&nbsp;
                <span>{{i.quantity}}</span>&nbsp;
                <button (click) = "addToCarts(i)" style="padding: 5px 10px ;background-color:green; border: none; color: white; font-weight: bold;">+</button>
               
            </div>

            <div  class="col sm-2">
                <h6>Remove From Cart</h6><hr>
            <button (click)="deleteFromCart(i)" class = "removeCart">Delete</button>
            </div>
           
           
          
        </div>
        
    </div>
    <div class="total">
        <p><strong>Total : Rs.{{totalSum}}</strong></p>
       
    </div>

   

    <button class="checkout" (click)="goToCheckout()">Checkout</button>

  </ng-template>

   
</div>




