<!-- <p>minifooter works!</p> -->
<div class="container cont">
  <div class="row">
    <div class="col-lg-3">
      <h6>bigbasket</h6>

      <ul>
        <li>About Us</li>

        <li>In News</li>

        <li>Green bigbasket</li>

        <li>Privacy Policy</li>

        <li>Affiliate</li>

        <li>Terms and Conditions</li>

        <li>Careers At bigbasket</li>

        <li>bb Instant</li>

        <li>bb Daily</li>

        <li>bb Blog</li>

        <li>bbnow</li>
      </ul>
    </div>

    <div class="col-lg-3">
      <h6>Help</h6>

      <ul>
        <li>FAQS</li>

        <li>Contact Us</li>

        <li>bb Wallet FAQs</li>

        <li>bb Wallet T&Cs</li>

        <li>Vendor Connect</li>
      </ul>
    </div>

    <div class="col-lg-3">
      <h6>Download Our App</h6>

      <img
        src="https://www.bbassets.com/static/v2695/custPage/build/content/img/Google-App-store-icon.png"
        alt=""
        height="50px"
      />

      <img
        src="https://www.bbassets.com/static/v2695/custPage/build/content/img/Apple-App-store-icon.png"
        alt=""
        srcset=""
        height="50px"
      />
    </div>

    <div class="col-lg-3">
      <h6>Get Social With Us</h6>

      <div class="box d-flex icons">
        <div id="f"><i class="bi bi-facebook"></i></div>

        <div id="p"><i class="bi bi-pinterest"></i></div>

        <div id="t"><i class="bi bi-twitter"></i></div>

        <div id="insta"><i class="bi bi-instagram"></i></div>
      </div>
    </div>
  </div>

  <hr />

  <div class="container footer">
    <div class="row">
      <div class="box d-flex boxes">
        <div class="col-lg-2"><p>POPULAR CATEGORIES:</p></div>

        <div>
          <p>
            Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes,
            Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy
            Vegetables, Frozen Veg Food, Diapers & Wipes,
          </p>
        </div>
      </div>

      <div class="box d-flex boxes">
        <div class="col-lg-2"><p>POPULAR BRANDS</p></div>

        <div>
          <p>
            Amul, Nescafe , MTR, RED BULL , elite cake, Pediasure, Yummiez,
            Yera, Yakult, Britannia, Wow Momo, Fortune , Haldirams , Ferrero,
            Lays, Patanjali, McCain, kwality walls, Cadbury Dairy Milk,
            Pedigree,
          </p>
        </div>
      </div>

      <!--  -->

      <div class="box d-flex boxes">
        <div class="col-lg-2"><p>CITIES WE SERVE:</p></div>

        <div>
          <p>
            Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Mysore, Madurai,
            Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
            Nashik Business, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam,
            Surat, Nagpur, Patna, Indore, Chandigarh Tricity, Jaipur, Bhopal,
            Ludhiana, Noida-Ghaziabad, Kochi, Krishna District,
            Bhubaneshwar-Cuttack, Guwahati, Renigunta, Hubli, Davanagere,
            Trichy, Amravati, Raipur, Rajkot, Gwalior, Bareilly, Allahabad,
            Hyderabad Rural, Bangalore Rural, Chennai Rural, Vizag Rural,
            Lucknow Rural, Noida Rural, Ahmedabad Rural, Bhopal Rural,
            Bhubaneswar Rural, Coimbatore Rural, Chandigarh Rural, Gurugram
            Rural, Guwahati Rural, Indore Rural, Kochi Rural, Kolkata Rural,
            Mumbai Rural, Mysore Rural, Nagpur Rural, Patna Rural, Pune Rural,
            Surat Rural, Vadodara Rural, Jaipur Rural, Ranchi, Nashik, Agra,
            Kozhikode, Amritsar, Thiruvananthapuram,
          </p>
        </div>
      </div>

      <!--  -->

      <div class="box d-flex boxes">
        <div class="col-lg-2"><p>PAYMENT OPTIONS:</p></div>

        <div class="d-flex">
          <div>
            <img
              class="navimg"
              src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43279012100/original/NQaEc3sL6Gso96fAdUWRiHZ5G9UUaHgUog.png?1639064459"
              alt=""
              width="10%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
