
<div class="container text-center mb-5 mt-4">
    <div><img  src="https://www.bigbasket.com/media/customPage/c44f22ef-5a1d-4bb8-822b-bfba74cf9f5c/ac1576b0-33f9-498e-b6c0-e3323ffd1441/c8d57089-0bda-4ed1-946d-3057fe1d72b9/sm-YXTT6585-400_9jan23.jpg" alt="" width="100%"></div>
</div>


<div class="container">
    <p style="color: green;">ALL PRODUCTS</p>
    <hr>
    <div class="recom">
        <p style="font-size: 18px; color: rgb(95, 94, 94);">Our Recommendations For You</p>
        <p style="margin-top: -10px;">Based on what customers like you have bought</p>
    </div>
   
    
    <div class="row mt-4 mb-4 itemData">
        <div  *ngFor = "let d of bestSellerDisplay" class="col-lg-3 miniDiv">
            <div class="foodBox">
            <div class = "offer"><p>{{d.offer}} <span><i class="bi bi-star-fill"></i></span></p></div>
            <div class="text-center"> <img src = {{d.image}} ></div>
            <div class = "sqa"><div class="text-center circle"><i class="bi bi-circle-fill"></i></div></div>
            <div class="mb-1 mt-2" style="font-size: 12px; color: grey;">Fresho</div>
            <p style="font-size: 14px;">{{d.name}}</p>
            <div class = "price"><p>{{d.price | currency:'INR'}}</p></div>
            <div class = "delivery"><span><i class="bi bi-truck"></i></span><p>{{d.delivery}}</p></div>
            <button type="button" class="btns" [routerLink]= "['/view' , d.id]" >View Details</button>
           
          
        </div>
        </div>
       
    </div>

    <app-footer></app-footer>
